<html>
<head>
<title>DevTeach Ruby Pre-Con - <%= subtitle %></title>
<link rel="stylesheet" href="/css/railsbridge.css" type="text/css" title="/railsbridge.css">
</head>
<body>

<%= yield %>

<footer>
Based heavily on <a href="http://github.com/railsbridge/curriculum/" target="_blank">Rails Bridge Curriculum</a>. This fork can be found at <a href="http://github.com/JamesKovacs/RailsCurriculum/" target="_blank">James Kovacs' Rails Curriculum</a>.
</footer>
</body>
</html>
